.header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__left > img {
  height: 40px;
  cursor: pointer;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 33px;
}

.header__input > input {
  outline-width: 0;
  border: none;
  background-color: transparent;
}

.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  margin: 0 5px;
  cursor: pointer;
}

.header__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  border-bottom: none;
}

.header__option-active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option-active,
.header__option-active:hover {
  border-bottom: 4px solid #2e81f4;
  border-radius: 0;
  background-color: transparent;
}

.header__right {
  display: flex;
}

.header__rightInfo {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 30px;
  padding: 0 10px;
}
.header__rightInfo:hover {
  background-color: #eff2f5;
}

.header__rightInfo > h4 {
  margin: 0 10px;
}

.header__right > .MuiIconButton-root {
  background-color: #eff2f5;
  margin: 0 5px;
}
.header__right > .MuiIconButton-root:hover {
  background-color: #c6cdd4;
}

.header__rightLogout > .MuiPopover-paper {
  top: 67px !important;
  left: auto !important;
  right: 45px !important;
}
